* {
  border-color: grey;
  border-style: none;
  border-width: 1px;
  font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;

  scroll-margin-top: 100px;
}
.App {

  display: grid;
  max-width: 100vm;

  --color-a: #e00e0e;/*#b73513;*/
  --color-b: #804739;
  --color-c: #a2a6b3;
  --color-d: #62646a; /*background color*/
  --color-e: #cde89f;
  --color-e-clear: #56833aba;
  --color-e-dark:#7F9063;
  --clear: #00000000;

  background-color: var(--color-d);
}
html, body {
  background-color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.App-logo {
  height: 170px;
  transition: height 0.8s ease;
}
.App-logo-words {
  height: 40px;
  padding-top: 5px;
}
.logo-side {
  grid-column: 1/2;
  align-items: center;
  height: 100%;
  display: flex;
  width: fit-content;
  flex-direction: column;
  transition: height 0.8s ease, flex-direction 0.8s ease;
  transform: translateX(0);
}
.logo-side.shrunk {
  flex-direction: row;
}
.logo-side.shrunk .App-logo {
  height: 110px;
}

.nav-items {
  display:grid; /*set to grid so the contact button is shiny*/
  grid-template-columns: repeat(5, 1fr);
  align-items:center;
  justify-items: end;
  padding-right: 5px; /*To account for contact border width*/

  transition: 0.8s;
}
@media (max-width: 1400px) {
  .App-logo-words {
    display:none;
  }
  .logo-side {
    justify-self: center;
  }
  .App-header {
    width: 98%;
    padding-right: 1%;
    padding-left: 1%;
  }
}
@media (min-width: 1400px) {
  .App-header {
    width: 82%;
    padding-right: 9%;
    padding-left: 9%;
  }
}
@media (max-width: 1050px) {
  .nav-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .nav-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .nav-items {
    grid-template-columns: 1fr;
  }
}
.a,.contact {
  padding: 3%;
  border-radius:10px;
  
  color: black;
  text-decoration:none;
  text-align:center;
  font-size: calc(10px + 2vmin);
  width: calc(100px + 7vmin);
  height: calc(15px + 2vmin);
  border-style: solid;
  border-width: 5px;
  border-color: var(--clear);
}
.a {
  border-width: 2px;
  width: calc(100px + 7vmin);
}
.a:hover {
  background-image: radial-gradient(var(--clear) 50%, var(--color-e-clear) 100%);
  border-color: var(--color-e-clear);
}

.contact {
  background-image: linear-gradient(45deg, var(--color-d) 0%, var(--color-c) 40%, white 70%, var(--color-c) 100%);
  z-index: 5;
  position: relative;
}
.contact-help {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: linear-gradient(90deg, var(--color-d) 0%, var(--color-c) 20%, white 50%, var(--color-c) 80%);
  transition: opacity .1s linear;
}
.contact:hover .contact-help {
  opacity: 1;
}

.App-header {
  background-image: linear-gradient(to bottom, var(--color-e-clear) 0%, white 70%);
  top: 0;
  z-index: 1000;
  position: fixed;
  
  display:flex;
  align-items: center;
  justify-content: center;

  transition: 0.8s;
}
.inner-header {
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: end;
  width: 100%;
}

.img {
  max-width:100%;
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
}
/* #about-section, #services-setion, #project-section,
#contact-section {
  background-image: url('the-gang.png');
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

} */

.left-phrase, .corner-phrase, .right-phrase, .center-phrase {
  z-index: 500;
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: left;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.733);
  color:white;
  padding-left: 9%;
  padding-right: 9%;
}
.corner-phrase {
  grid-column: 1/2;
  display:flex;
  text-align: left;
  align-items: top;
}
.center-phrase {
  grid-column: 1/3;
  display: flex;
  text-align: center;
  align-items: top;
  justify-content: center;
}
.right-phrase {
  grid-column: 2/3;
  display:flex;
  flex-direction: column;
  text-align: center;

}
.left-phrase {
  justify-content: center;
  align-items: left;
  display: flex;
  flex-direction: column;
}
.bottom-text-clear, .mid-text-clear, .right-panel-text {
  z-index: 490;
  grid-column: 1/3;
  grid-row: 1/2;
  width: 61.76%;
  align-self: flex-end;
  height:fit-content;
  flex-direction: column;
  text-align: left;
  justify-self: center;
  color:white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0px;
  border-radius:50px 50px 0px 0px;
}
.bottom-text-clear, .mid-text-clear {
  background-color: rgba(79, 79, 87, 0.718);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.mid-text-clear {
  border-radius: 50px;
  margin-bottom: 24%;
}
.right-panel-text {
  width: fit-content;
  text-align: right;
  font-size: calc(10px + 5vmin);
  grid-column: 2/3;
  align-self: center;
  margin-left: 50px;
}
li {
  margin: calc(10px + 8vmin);
  list-style-type: none;
  text-shadow: 10px 0px 3px rgba(0, 0, 0, 0.733);
  margin-left: 50px;
  text-align: left;

}
.img-phrase-pair {
  display:grid;
  grid-template-columns: 1fr 1fr; /*golden ratio is 1.615*/
}

.footer-para {
  font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: .06em;
  z-index: 500;
  text-align: left;
  background-color: var(--color-d);
  color:white;
  width: fit-content;
  padding-right:5%;
  padding-left:5%;
  align-self: center;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  font-size: calc(10px + 1vmin);
}
.body {
  display:grid;
}
.inner-body {
  background-color: white;
  
  width: 100%;
}
.space {
  height: 0px;
  background-image: linear-gradient(to top, white 0%, white 50%);
}
.end-space {
  height: 0px;
  background-image: linear-gradient(to bottom, var(--color-d) 0%, black 50%);
}
h1 {
  font-size: calc(10px + 9vmin);
  margin-bottom: 0px;
}
.h1-contact {
  color: black;
  text-shadow: none;
  margin-bottom: 0px;
  
}
h2 {
  font-size: calc(10px + 6vmin);
  text-shadow: 10px 0px 3px rgba(0, 0, 0, 0.733);
}
h3 {
  font-size: calc(10px + 2vmin);
  text-shadow: 5px 0px 3px rgba(0, 0, 0, 0.733);
}
p {
  font-size: calc(10px + 1.7vmin);
}
.App-footer {
  z-index: 1000;
  position: fixed;
  display:grid;
  grid-template-columns: 2fr 1fr;
  
  font-size: calc(10px + 2vmin);
  background-color: white;
  bottom: 0;
  width: 100%;
  height: 65px;

  font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: .06em;
}
.icon {
  width: 55px;
  height: 55px;
  padding: 5px;
}
.copyright {
  grid-column: 1/2;
  text-align: left;
  padding-left: 1em;
  font-size: 15px;
  width: 100%;
}
.media-links {
  grid-column: 2/3;
  width: 100%;
  text-align: right;
}